button {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    padding: auto;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;

    color: black;
 
    min-height: 40px !important;
    max-height: 40px !important;
    min-width: 40px !important;
    font-size: 12px;

}

.menu {
    max-width: 40px !important;
    padding: 0;
    font-size: 24px;
}