<div class="container">
    <h1 mat-dialog-title>édition protégée</h1>
    <section>
        <div id="saving-options">
            <form>
                <mat-form-field>
                    <mat-label>mot de passe pour éditer le dessin</mat-label>
                    <input matInput (change)="resetErrors()" [formControl]="passwordFormControl" autocomplete="off" type="password" />
                    <mat-error *ngIf="passwordFormControl.hasError('required') && !passwordFormControl.hasError('wrongPassword')">
                        le mot de passe est <strong>obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('wrongPassword')">mot de passe incorrect</mat-error>
                </mat-form-field>
            </form>
        </div>
    </section>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="undefined">annuler</button>
        <button mat-button (click)="tryAccess()" color="primary" [disabled]="passwordFormControl.invalid">ok</button>
    </mat-dialog-actions>
</div>
