h1 {
    font-weight: 800;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
}

mat-dialog-actions {
    flex-direction: row;
    justify-content: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

mat-form-field {
    height: max-content;
    margin: 8px;
}
